@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

    *, html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root{
        --main-color : blue;
        --second-color : purple;
        --body-color : gray;
        --main-font : 'Poppins', sans-serif;
        --heading-font : 'Poppins', sans-serif;
    }

    body{
        width: 100%;
        font-family: var(--main-font);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        background-color: #FFF8F9;
        color: #FF78C4;
    }

    ::after,
    ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    h1 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    .wrapper {
        display: flex;
    }

    .main {
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
    }

    #sidebar {
        width: 70px;
        min-width: 70px;
        height: 100%;
        z-index: 1000;
        transition: all .25s ease-in-out;
        background-color: #FF78C4;
        display: flex;
        flex-direction: column;
        position: fixed;
    }

    .sidebar-link span{
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2px;
    }

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

    .toggle-btn {
        background-color: transparent;
        cursor: pointer;
        border: 0;
        padding: 1rem 1.5rem;
    }

    .toggle-btn img {
        width: 30px;
        transition: margin-left 0.3s ease;
    }
      
    .sidebar-logo {
        margin: auto 0;
    }

    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link span {
        display: none;
    }

    .sidebar-nav {
        padding: 0rem 0;
        flex: 1 1 auto;
    }

    a.sidebar-link {
        padding: 10px 1.62rem;
        color: #FFF8F9;
        display: block;
        font-size: 0.9rem;
        white-space: nowrap;
        border-left: 3px solid transparent;
        transition: margin-left 0.2s ease;
        margin-left: -11px;
        transition: all ease-in-out 0.3s ;
    }

    .sidebar-link img {
        width: 35px;
    }

    .sidebar-link span{
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2px;
        margin-left: 10px;
        font-weight: 500;
    }

    a.sidebar-link:hover {
        background-color: #fbda6dd6;
    }

    .sidebar-item {
        position: relative;
    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }
    
    #sapaadmin{
        margin-left: 2px;
        margin-top: -15px;
    }    

    #sapaadmin{
        display: flex;
        flex-direction: row;
        margin-top: 0px;
    }

    #judul h1{
       margin-top: 23px;
       margin-left: -13px;
    }

    #logo{
        display: flex;
        flex-direction: row-reverse;
        margin-right: -13px;
    }

    #konten{
        margin-left: 70px;
    }

    #head{
        width: 90%;
        margin-left: 5%;
    }

    .uploadcake{
        display: grid;
        width: 90%;
        margin-left: 5%;
    }

    .uploadcake label{
        color: #535353;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .uploadcake input{
        border: 1.5px solid #FF78C4;
        border-radius: 10px;
        width: 100%;
        height: 40px;
    }

    .uploadcake input:focus{
        border: 1.5px solid #FBDB6D;
        outline: none;
    }

    .uploadcake input::placeholder{
        color: #535353;
        opacity: 50%;
    }

    .uploadcake input[type=text]{
        padding: 15px;
    }

    .submit input[type=button]{
        background-color:#FF78C4;
        color:#FFF8F9;
        border: none;
        width: 80px;
        height: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;
        margin-left: 15px;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .submit{
        display: flex;
        gap: 10px;
        margin-left: -16px;
        margin-top: 20px;
    }

    .submit input[type=button]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }

    .submit input[type=submit]{
        background-color:#FF78C4;
        color:#FFF8F9;
        border: none;
        width: 80px;
        height: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;
    }

    .submit input[type=submit]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }

@media (min-width: 600px){
    .uploadcake{
        display: grid;
        width: 90%;
        margin-left: 5%;
    }

    .uploadcake label{
        color: #535353;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .uploadcake input{
        border: 1.5px solid #FF78C4;
        border-radius: 10px;
        width: 85%;
        height: 40px;
    }

    .uploadcake input:focus{
        border: 1.5px solid #FBDB6D;
        outline: none;
    }

    .uploadcake input::placeholder{
        color: #535353;
        opacity: 50%;
    }

    .uploadcake input[type=text]{
        padding: 15px;
    }

    .contain button{
        width: 30%; 
        height: 100%; 
        background-color:#FFFFFF; 
        border: 1.5px solid #FF78C4; 
        border-radius: 10px;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .submit{
        display: flex;
        gap: 10px;
        margin-left: -16px;
        margin-top: 20px;
    }

    .submit input[type=button]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }

    .submit input[type=submit]{
        background-color:#FF78C4;
        color:#FFF8F9;
        border: none;
        width: 80px;
        height: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;
    }

    .submit input[type=submit]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }
}

@media (min-width: 430px){
    .uploadcake{
        display: grid;
        width: 90%;
        margin-left: 5%;
    }

    .uploadcake label{
        color: #535353;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .uploadcake input{
        border: 1.5px solid #FF78C4;
        border-radius: 10px;
        width: 85%;
        height: 40px;
    }

    .uploadcake input:focus{
        border: 1.5px solid #FBDB6D;
        outline: none;
    }

    .uploadcake input::placeholder{
        color: #535353;
        opacity: 50%;
    }

    .uploadcake input[type=text]{
        padding: 15px;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .submit{
        display: flex;
        gap: 10px;
        margin-left: -16px;
        margin-top: 20px;
    }

    .submit input[type=button]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }

    .submit input[type=submit]{
        background-color:#FF78C4;
        color:#FFF8F9;
        border: none;
        width: 80px;
        height: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;
    }

    .submit input[type=submit]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }
}

@media (min-width: 375px){
    .uploadcake{
        display: grid;
        width: 90%;
        margin-left: 5%;
    }

    .uploadcake label{
        color: #535353;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .uploadcake input{
        border: 1.5px solid #FF78C4;
        border-radius: 10px;
        width: 67%;
        height: 40px;
    }

    .uploadcake input:focus{
        border: 1.5px solid #FBDB6D;
        outline: none;
    }

    .uploadcake input::placeholder{
        color: #535353;
        opacity: 50%;
    }

    .uploadcake input[type=text]{
        padding: 15px;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .submit{
        display: flex;
        gap: 10px;
        margin-left: -16px;
        margin-top: 20px;
    }

    .submit input[type=button]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }

    .submit input[type=submit]{
        background-color:#FF78C4;
        color:#FFF8F9;
        border: none;
        width: 80px;
        height: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;
    }

    .submit input[type=submit]:hover{
        background-color:#FBDB6D;
        color:#FFF8F9;
        border: none;
        width: 80px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 8px;
    }
}